/* Підключення шрифта (не видаляти) */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro:wght@400;700&display=swap');
body{
    margin: 0px; /* забираємо стандартні відступи в тега body */
    font-family: Inter;
}

/* Ваші стилі */

header{
    display: flex;
    height: 80px;
    padding: 0px 5%;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 47px;
    height: 46px;
}

.menu{
    display: flex;
    height: 80px;
    padding: 30px 0px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-grow: 1;
}

.menu-elements{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px; /* 120% */
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: .3s;
}

.menu-elements:hover{
    border-bottom: 2px solid black;
   
}

main{
    padding: 5%;
}

.container{
    display: flex;
    width: 100%;
    height: 550px;
    align-items: center;
    margin-bottom: 120px;
    border-radius: 32px;
    background: #DCE5E2 top center / 100% repeat url(img/phone_bg_0_1699843784.png);
}

.block{
    display: flex;
    padding: 90px 54px;
    flex-direction: column;
    align-items: flex-start;
    gap: 44px;
    flex-grow: 1;
    align-self: stretch;
}

.button{
    width: 234px;
    height: 50px;
    padding: 14px 85px;
    border-radius: 200px;
    border: 1px solid #000;
    background: #DCE5E2;
   
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 120% */
    text-transform: capitalize;
    transition: .3s;
}

.button:hover{
    background: #000000;
    color: #FFF;
    cursor: pointer;
}

.main-text{
    margin: 0;
    max-width: 500px;
    color: #000;
    font-family: Readex Pro;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 69.6px; /* 120% */
}

.text{
    color: #000;
    text-align: center;
    font-family: Readex Pro;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 52.5px; /* 125% */
    margin-bottom: 57px;
}

.card{
    padding: 28px;
    transition: .3s;
}

.card:hover{
    background: #DCE5E2;
    cursor: pointer;
}

.text-card{
    color: #000;
    font-family: Readex Pro;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 125% */
}

.price-card{
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 120% */
}

.card-img{
    width: 244px;
    height: 214px;
}

.container-cards{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 72px;
}

.last-block{
    display: flex;
    flex-grow: 1;
    width: 100%;
    padding: 43px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;

    border-radius: 16px;
    background: #DCE5E2;
}

.img-last-block{
    width: 241px;
    height: 149px;
}

.text-last-block{
    max-width: 393px;
    color: #000;
    text-align: center;
    font-family: Readex Pro;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 52.5px; /* 125% */
    margin: 0;
}

.type-phone{
    border-radius: 54px 0px 0px 54px;
    border: 1px solid #000;
    
    background: #DCE5E2;
    width: 270px;
    padding: 16px 23px;

    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px; /* 120% */
}

.subm{
    border-radius: 0px 200px 200px 0px;
    background: #000;
    padding: 16px 33px;
    
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px; /* 120% */
}

.content-input{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer{
    width: 62px;
    height: 60px;
}

li{
    list-style: none;
}

footer{
    background: #F8F9FA;
    display: flex;
    min-height: 300px;
    padding: 40px 60px;
    align-items: flex-start;
    align-content: space-between;
    column-gap: 40px;
    flex-wrap: wrap;
}

.footer-menu{
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    flex: 1 0 0;
    flex-wrap: wrap;
}

.vert-menu{
    display: flex;
    padding: 0px 38px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.footer-elements-first{
    color: #000;
    font-family: Readex Pro;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 125% */
    text-decoration: none;
}

.footer-elements{
    color: #000;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 127.059% */
    text-decoration: none;
}
.footer-elements:hover{
    border-bottom: 2px solid black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

.phone{
    background-color: rgb(249, 196, 4);
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    color: white;
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

